Recursos_de_IA.pdf
R/.Rproj.user
R/.Rhistory
Python/Pokemon/.ipynb_checkpoints
BasesML-DS/Trabajando con R/.Rproj.user
BasesML-DS/Trabajando con R/.RData
BasesML-DS/Trabajando con R/.Rhistory
BasesML-DS/Matplotlib-Numpy/.ipynb_checkpoints